@import '../../styles/variables.scss';

.select {
  &__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &--option {
      height: 4.8rem;
      width: 100%;
      background-color: $white;
      border: 1px solid $secondary;
      border-radius: 10px;
      padding: 0.9rem 1.6rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &--label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1.2rem;
        width: 100%;
        &--name {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          &--emoji {
            font-weight: 400;
            font-size: 3rem;
            line-height: 100%;
            letter-spacing: 2%;
          }
  
          &--text {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 120%;
          }
        }
      }
    }
  }
}

.checkbox {
  appearance: none;
  width: 1.9rem;
  height: 1.9rem;
  border: 1px solid $secondary;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &:checked {
    background-color: $primary;
    border-color: $primary;
  }

  &:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.883rem;
    height: 0.67rem;
    background: url("../../../public/icons/Vector.svg");
    background-size: cover;
    transform: translate(-50%, -50%);
  }
}

.checked {
  border-color: $primary;
}