.button {
  width: 15.75rem;
  // width: 157.5px;
  height: 6.3rem;
  // height: 63px;
  padding: 1.45rem 1rem;
  // padding: 14.5px 10px;
  line-height: 120%;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  // font-size: 14px;
  font-weight: 700;
  background-color: #ffffff;
  border: 1px solid #d2cfdf;
  border-radius: 10px;

  &:active {
    border-color: #31728D;
  }
}