$primary: #31728D;
$secondary-blue: #7AC9ED;
$back-ground-color: #FAF9FF; 
$white: #FFFFFF;
$secondary: #D2CFDF;
$secondary-gray: #E8E6EF;
$secondary-text: #B7B4C1;
$gray-headline: #666666;
$primary-text: #111111;
$error: #ea6747;