@import '../../styles/variables.scss';

.button-continue {
  width: 100%;
  height: 5rem;
  background-color: $secondary-gray;
  border: none;
  border-radius: 10px;
  color: $secondary-text;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 120%;

  &.active {
    background-color: $primary;
    color: $white;
  }
}
