@import "../../styles/variables.scss";

.login-page {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 17px;
}

.form__row {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  margin-top: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    height: 4.8rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 1.45rem 1.2rem;

    font-weight: 300;
    font-size: 1.6rem;
    line-height: 120%;

    &::placeholder {
      color: $secondary-text;
    }

    &.error-mes {
      border: 1px solid $error;
    }

    &:focus {
      outline: none;
      background-color: $white;
      border: 1px solid $primary;
      color: $primary-text;
    }

    &.unfilled {
      background-color: $secondary-gray;
      color: $secondary-text;
    }
  }
}

.button__container {
  margin-block: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  margin-top: 0.4rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  color: $error;

  text-align: left;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  &__logo {
    width: 2rem;
    height: 2rem;
  }

  &__text {
    font-weight: 300;
    font-size: 1rem;
    line-height: 120%;
    color: $gray-headline;
  }
}
